<%= stylesheet_link_tag "style.css" %>

<div id="background">
  <div id="company-profile">
    <%= link_to(image_tag("https://i.imgur.com/rCgl1w7.png", :alt => "Promo Image"), companies_path) %>
  </div>
</div>

  <!-- <div id="company-profile">
    <img src="https://i.imgur.com/3BMz71I.png">
  </div> -->
  <!-- <%= link_to(image_tag("https://i.imgur.com/CMuSxFN.png", :alt => "Promo Image", :class => "join-icon"), root_path) %>
  <%= button_to "Login", login_path, :class => "splash-login" %>
   <%= button_to "Browse Companies", login_path, :class => "splash-company" %>
  <h1 class="company-header">Browse Companies</h1>
  <div class="listing-content">
    <div class="filter">
      <h1>Filters:</h1>
      <ul>
        <li>Welder</li>
        <li>Construction</li>
      </ul>
    </div>
    <div class="listings">
      <div class="title">
        <h1>Welder</h1>
        <div class="img-box">
        </div>
      </div>
      <div class="title">
        <h1>Pastry Chef</h1>
        <div class="img-box">
        </div>
      </div>
      <div class="title">
        <h1>Developer</h1>
        <div class="img-box">
        </div>
      </div>
    </div>
  </div>
</div> -->
