<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error-message">
        <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
        <% end %>
    </div>
  <% end %>

  <div class="item-form">
    <%= f.text_field :name, :class => "form-field", :placeholder => "Name", :style => "color:black;" %><br>
    <%= f.text_field :email, :class => "form-field", "placeholder" => "Email", :style => "color:black" %><br>
    <%= f.text_area :skills, :class => "form-area", :placeholder => "What are your skills?", :style => "color:black" %><br>
    <%= f.text_area :about, :class => "form-area", :placeholder => "Tell us a little about you" %><br>
    <%= f.password_field :password, :class => "form-field", "placeholder" => "Password", :style => "color:black" %><br>
    <%= f.password_field :password_confirmation, :class => "form-field", "placeholder" => "Password Confirmation", :style => "color:black"%><br>
    <%= f.submit "Submit", :class => "submit-btn", :id => "hvr-grow" %>
    </p>
  </div>
<% end %>
